{% extends 'base.html.twig' %}

{% block highlight %}
    <div class="jumbotron">
        <div class="container">
            <h1>Graphistry</h1>

            <p>Create graphs using xml and search for paths (all of them or just the shortest) using json.</p>

            <p>
                <a class="btn btn-info btn-lg" href="https://github.com/titomiguelcosta/Graph" target="_blank" role="button">Source code &raquo;</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h2>Validate</h2>

            <p>Validate the structure and syntax of an xml document describing a graph.</p>

            <p>
                <a class="btn btn-primary" href="{{ path('validate') }}" role="button">Validate &raquo;</a>
                <a class="btn btn-default" href="{{ path('graph_example_create') }}" role="button" target="_blank">Example &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Populate</h2>

            <p>Create a new graph by submitting a valid xml document.</p>

            <p>
                <a class="btn btn-primary" href="{{ path('populate') }}" role="button">Populate &raquo;</a>
                <a class="btn btn-default" href="{{ path('graph_example_create') }}" role="button" target="_blank">Example &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Query</h2>

            <p>Query an existing graph for all paths connecting two nodes or just the shortest one.</p>

            <p>
                <a class="btn btn-primary" href="{{ path('query') }}" role="button">Query &raquo;</a>
                <a class="btn btn-default" href="{{ path('graph_example_query') }}" role="button" target="_blank">Example &raquo;</a>
            </p>
        </div>
    </div>
{% endblock %}