{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Populate</h2>
            <p>Create a new graph by submitting a valid xml document and making sure none of the ids already exist in one of the existing graphs.</p>
            <p>Check out an <a href="{{ path('graph_example_create') }}" target="_blank">example</a>.</p>

            {{ form(form) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <caption>Existing graphs</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for graph in graphs %}
                        <tr>
                            <td>{{ graph.id }}</td>
                            <td>{{ graph.name }}</td>
                            <td><a href="{{ path('graph_remove', {'id': graph.id}) }}" class="btn btn-danger">Remove</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">No graphs.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}